<div id='footer'>
  <span class='label label-default'>
    Api-Version: 
    <%= SpecScoreApi::VERSION %>
  </span>
&nbsp;
  <span class='label label-default'>
    Registry-Version:
    <%= SpecScoreRegistry::VERSION %>
  </span> 
</div>
