
<div class='intro'>
  <h1>Welcome#index</h1>
  <p>Find me in app/views/welcome/index.html.erb</p>
</div>

<div class='second'>
  <h2>some more</h2>
  <p>Find me in app/views/welcome/index.html.erb</p>
</div>

<div class='third'>
  <h2>even more</h2>
  <p>Find me in app/views/welcome/index.html.erb</p>
</div>
