html {
  height: 100%;
}
body {
  height: 100%;
  color: whitesmoke;
}

#container {
  min-height: 100%;
  height: auto !important;
  //height: 100%;
  margin-bottom: -$footer-height;

}
.default {
  @extend .clearfix;
  color: whitesmoke;
  min-height: 400px;
  padding: 20px 40px 40px 40px;
}

.intro {
  @extend .default;
  @include single-box-shadow(darken($color-c, 2), 1px, 1px, 6px);
  @include border-radius(4px,4px);
  margin: -20px 0 0 0;
  background-color: $color-a;
  text-align: center;
  h1 {
    padding-top: 40px;
    font-size: 4em;
    font-family: 'Belleza', sans-serif;
  }
}
.more {
  font-family: 'Belleza', sans-serif;
  margin-top: 40px;
}
.second {
  @extend .default;
  background-color: $color-b;
}

.third {
  background-color: $color-c;

}
